/* 1. Estas directivas inyectan todo el código de Tailwind en tu CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2. Aquí movemos el estilo global del <body> 
  que estaba en el <style> del HTML original 
*/
body {
  min-height: max(884px, 100dvh);
}

